body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.userInfo {
  display: flex;
  align-items: center ;
}

.navBtns {
  display: flex;
  flex-grow: 1;
}

.loginCard {
  margin: auto;
  max-width: 450px;
  margin-top: 2%;
}

.cardActions {
  margin:auto;
  margin-bottom: 15px;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 15px;
}

.cardActions Button {
  min-height: 50px;
}

.tab-panel {
  margin: auto;
}

.question-li {
  text-align: center;
  margin:auto;
  margin-bottom: 10px;
  max-width: 400px;
}

.question-li .user-asked {
  background-color: #cce6ff;
  font-size: medium;
  font-weight: 700;
  padding: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid ;
}

.question-li .user-question {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-flow: column;
  text-align: center;
}

.question-li .user-question .avatar {
  margin-left: 15%;
  width: 56px;
  height: 56px;
}

.question-li .user-question .content {
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid;
  grid-area: 1 / 2 / 1 / span 4;
}

.unanswered-question {
  margin: auto;
  max-width: 450px;
  margin-top: 2%;
}

.unanswered-question .user-asked {
  background-color: #cce6ff;
  font-size: large;
  font-weight: 700;
  padding: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid ;
}

.unanswered-question .user-question {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-flow: column;
  text-align: center;
}

.unanswered-question .user-question .avatar {
  margin: auto;
  width: 80px;
  height: 80px;
}

.unanswered-question .user-question .options {
  padding-left: 10%;
  border-left: 1px solid;
  grid-area: 1 / 2 / 1 / span 4;
}

.unanswered-question .user-question .options .text {
  font-size: large;
}

.unanswered-question .user-question .options .submit {
  margin-top: 5%
}

.answered-question {
  margin: auto;
  max-width: 50%;
  margin-top: 2%;
}

.answered-question .user-asked {
  background-color: #cce6ff;
  font-size: large;
  font-weight: 700;
  padding: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid ;
}

.answered-question .user-question {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-flow: column;
  text-align: center;
}

.answered-question .user-question .avatar {
  margin: auto;
  width: 80px;
  height: 80px;
}

.answered-question .user-question .options {
  padding-left: 10%;
  border-left: 1px solid;
  grid-area: 1 / 2 / 1 / span 4;
}

.answered-question .user-question .options .results{
  font-size: large;
  font-weight: 600;
}

.answered-question .user-question .options .container{
  border: 1px solid;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
}

.new-question {
  margin: auto;
  max-width: 500px;
  margin-top: 2%;
}

.new-question .create {
  background-color: #cce6ff;
  text-align: center  ;
  font-size: x-large;
  font-weight: 800;
  padding: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid ;
}

.new-question .complete {
  font-weight: 500;
  padding: 10px;
  margin-bottom: 5px;
}

.new-question .would-you-rather {
  font-weight: 700;
  padding: 10px;
  margin-bottom: 15px;
}

.new-question .container {
  display: grid;
  grid-auto-flow: row;
  padding: 10px;
  margin-bottom: 15px;
}

.new-question .container .text-field {
  padding: 5px;
}

.new-question .container .button {
  margin-top: 20px;
  min-height: 50px;
  padding: 5px;
}

.leader-board {
  margin: auto;
  max-width: 600px;
  margin-top: 2%;
}

.leader-board .container{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto auto auto;
  grid-auto-flow: column;
  text-align: center;
}

.leader-board .avatar{
  margin: auto;
  width: 70px;
  height: 70px;
  grid-area: 1 / 1 / span 1 / span 1;
}

.leader-board .user-info {
  min-width: 200px;
  border-left: 1px solid;
  border-right: 1px solid;
  padding: 5px 50px;
  margin: auto;
  grid-area: 1 / 2 / span 1 / 5;
}

.leader-board .user-info .name{
  text-align: left;
  font-size: x-large;
  font-weight: 700;
  margin-bottom: 30px;
}

.leader-board .user-info .answered{
  text-align: left;
  font-size: larger;
  font-weight: 600;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid;
}

.leader-board .user-info .created{
  text-align: left;
  font-size: larger;
  font-weight: 600;
}

.leader-board .score{
  margin: auto;
  border: 1px solid;
  padding: 10px ;
  grid-area: 1 / 5 / span 1 / span 5;
}

.leader-board .score .score-title{
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

.leader-board .score .score-value{
  margin: auto;
  background-color: #2196f3;
}